<!DOCTYPE html>
<html lang="en">
    <%- include ('./head') %>
    <body>
        <%- include ('./nav') %>
        
              <%- include ('./carousel') %>
               <%- include ('./cards') %>

        <%- include ('./scripts') %>
        <%- include ('./footer') %>
    </body>
</html>